:root {
    --bgc: #333333;
    --bc: #000000;
    --cgc: #7c007c;
    --cxc: #b80ab8;
    --wc: #ffffff;
    --gc: #cccccc;
    --gb: linear-gradient(102.92deg, #1B1285 -36.3%, #643088 100%);

}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--pc);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    line-height: 24px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--pc);
    transition: 0.4s;
}

a:hover {
    text-decoration: none;
}

button {
    border: none;
}

.custom-btn a {
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    background: var(--cgc);
    color: var(--wc);
    padding: 14px 25px;
}

.custom-btn a:hover {
    background: var(--cxc);
}
.view-btn a {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--wc);
    text-transform: capitalize;
    padding: 10px 35px;
    background: var(--cgc);
}

.section-title h6 {
    max-width: 650px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    color: var(--pc) !important;
}

.section-title span {
    font-size: 24px;
    font-weight: 500;
    color: var(--pc);
}

.about-title h4 {
    font-size: 45px;
    color: var(--sc);
    line-height: 36px;
    font-weight: 600;
}

.about-title span {
    font-size: 24px;
    color: var(--sc);
    display: inline-block;
    padding-bottom: 10px;
}

.scrolled {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: .4s;
    box-shadow: 3px 3px 10px 0px #33333396;
}
