@import "default.css";


/*HEADER*/
header {
    height: 80px;
    background: #ffffff;
    transition: .4s;
}

.logo img {
    max-width: 250px;
}

.logo i {
    font-size: 22px;
    padding: 8px;
    padding-right: 0;
    transition: .2s;
}

.logo i:hover {
    color: var(--sc);
    cursor: pointer;
}

.menubar ul {
    text-align: right;
}

.menubar ul li {
    display: inline-block;
    border-left: 2px solid var(--cgc);
}
.menubar ul li:first-child{
    border-left: none;
}
.menubar ul li a {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    height: 30px;
    padding: 5px 8px;
    color: var(--cgc);
    transition: 0.4s;
}
.menubar ul li a:hover{
    color: var(--cxc);
}
.menubar .login-menu {
    background: linear-gradient(102.92deg, #1B1285 -36.3%, #643088 100%);
    color: var(--wc);
    border-radius: 5px;
}

/*HEADER*/

/*MOBILE MENU*/

/*ACCORDION CUSTOM*/
.mobile-logo img {
    width: 150px;
    padding: 10px 0;
    margin-left: 10px;
}

.mobile-logo i {
    font-size: 20px;
    float: right;
    margin: 5px 20px;
    color: var(--cgc);
    cursor: pointer;
    padding: 5px;
}

.mobile-logo i:hover {
    color: var(--sc);
}

.custom.accordion-button {
    text-transform: capitalize;
    font-size: 15px;
    -webkit-transition: .4s;
    transition: .4s;
    color: var(--cgc);
    font-weight: 400;
}

.custom.accordion-button:hover {
    color: var(--sc);
}

.custom.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;

}

.custom.accordion-button:not(.collapsed) {
    color: var(--sc);
    background: var(--rc);
    -webkit-transform: none;
    transform: none;
    font-weight: 400;
}

.custom.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\f068";
    font-family: 'FontAwesome';
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.none.accordion-button:not(.collapsed)::after {
    content: none;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}


.custom.accordion-button::after {
    background-image: none;
    content: "\f067";
    font-family: 'FontAwesome';
}

.none.accordion-button::after {
    content: none;
}

.custom.accordion-body {
    padding: 0 0px;
}

.custom.accordion-body ul {
    padding: 0;
    margin: 0;
}

.custom.accordion-body ul li {
    list-style: none;
    padding: 8px 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.custom.accordion-body ul li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--cgc);
    font-weight: 400;
    display: inline-block;
    margin-left: 40px;
}

.custom.accordion-body ul li a i {
    font-size: 10px;
    margin-right: 5px;
}

.custom.accordion-body ul li:hover {
    color: var(--wc);
    background: var(--rc);
}

.custom.accordion-body ul li:hover a {
    color: var(--sc);
}

.custom.accordion-item a {
    text-decoration: none;

}


.accordion-button.custom i {
    padding: 0 10px;
}

/*ACCORDION CUSTOM END*/

.mobile-menu {
    width: 350px;
    position: fixed;
    left: -380px;
    top: 0;
    z-index: 2;
    background: var(--wc);
    height: 100%;
    overflow: auto;
    transition: .4s;
    padding: 10px 0;
}
#mobileOverlay {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(101, 41, 145, 0.71);
    z-index: 1;
    cursor: pointer;
}
.mobileAdd {
    left: 0 !important;
}
.mobile-overlay {
    position: inherit !important;
}
/*MOBILE MENU END*/

/* BANNER PART CSS */
.banner-part {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
}
.banner{
    position: relative;
}
.overlay {
    background-color: #892dc254;
}
.search-content {
    position: absolute;
    top: 10px;
    right: 8%;
}

.banner-content h1 {
    padding: 0px 20px;
    color: var(--wc);
}

/* search bar */
.search-bar {
    padding: 40px 40px;
    background: #edcfedde;
    border-radius: 10px;
}

.search-slt {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: var(--cgc);
    border: 1px solid var(--cxc);
    background-color: var(--wc);
    background-image: none;
    height: calc(3rem + 0px) !important;
    border-radius: 4px;
    outline: none;
    padding: 8px;
}
.last-input {
    border-right: none;
}

.search-slt::placeholder {
    color: var(--bgc);
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.search-bar button {
    background: var(--cxc);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--wc);
}

/* BANNER PART CSS */

/* EXPLORE VERIFIED PARTNER CSS */

.header h3{
    text-transform: uppercase;
}

.header{
    position: relative;
}
.header h3::after {
    width: 120px;
    height: 8px;
    position: absolute;
    background: var(--cgc);
    top: 45px;
    left: 45%;
    content: '';
}
.img-part{
    position: relative;
}
.category p {
    font-weight: 500;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #7c007c78;
    color: var(--wc);
    padding: 6px 8px;
    border-radius: 2px;
}
.property img{
    width: 100%;
    height: 220px;
}
.property .card-body{
    padding: 5px;
    background: #e4f2f3;
}
.property h6{
    font-size: 15px;
}
.property p {
    font-size: 13px;
}

.view-more a{
    font-weight: 500;
    font-size: 15px;
    background: var(--cgc);
    padding: 10px 15px;
    border-radius: 4px;
    color: var(--wc);
    transition: 0.4s;
}
.view-more a:hover{
    background: var(--cxc);
}
/* EXPLORE VERIFIED PARTNER CSS */

/* Our Services CSS */
.our-service{
    background: #e4f2f3;
}
.our-service h3{
    font-size: 32px;
    text-transform: uppercase;
}
.service-header h5{
    text-transform: uppercase;
    font-size: 22px;
}
.service-header h6{
    font-size: 20px;
}
.our-service .p-card img{
    width: 100%;
    max-height: 150px;
}

.p-card h5 {
    color: var(--cgc);
}

.more-service i {
    font-size: 18px;
    line-height: 48px;
    width: 48px;
    height: 48px;
    background: var(--cxc);
    color: var(--wc);
    border-radius: 50px;
}

.more-service span {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--cxc);
}
/* Our Services CSS */

/* TESTIMONIAL PART START */
.testimonial-part {
    background: #eecbd1;
}
.testimonial-part h3{
    text-transform: uppercase;
}
.testimonial-part img{
    width: 100px;
    height: 100px;
}
.testimonial-part .coma {
    background-image: url(../img/photos/testimonial-banner.png);
    background-repeat: no-repeat;
    background-position: center;
}

.testimonial-part .coma .user {
    min-width: 90px;
    border: 4px solid var(--cxc);
    border-radius: 50px;
}

.testimonial-part .coma p {
    padding-left: 15%;
    padding-right: 15%;
    line-height: 35px;
    font-weight: 500;
    font-size: 16px;
}

.testimonial-part .author span {
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: var(--cxc);
}

.testimonial-part .icon i {
    font-size: 18px;
    color: var(--cxc);
}

.testimonial-part .author span i {
    font-size: 30px;
}

.testimonial-part .icon .active {
    color: var(--cxc);
}

/* TESTIMONIAL PART END */


/* SHOW OUR ALL TOLETS PART START */
.all-tolets{
    background: #eecbd1;
}
/* SHOW OUR ALL TOLETS PART END */


/* Our Service page CSS START */
.pagination {
    font-weight: 500;
    font-size: 15px;
    outline: none;
}
.page-link {
    padding: 10px 15px;
}
/* Our Service page CSS END */

/* Contact Us Page CSS Start */
.about-contact {
    background: #ede2e2;
}

.about-contact .form-label {
    margin-bottom: .5rem;
    font-weight: 500;
}

.map {
    background: #FAFAFA;
}

.address .section-content h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: var(--bc);
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}

.address .section-content p {
    color: var(--bc);
    font-weight: 500;
}

.address .contact h4 {
    color: var(--bc);
}

.address .contact {
    background: #f2fbff7a;
    box-shadow: 10px 10px 20px -7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.address .contact button {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--wc);
    background: var(--cxc);
    border-radius: 7px;
    border: none;
    padding: 13px 35px;
    margin-top: 30px;
}

.form-control {
    border: 1px solid var(--wc);
    box-sizing: border-box;
    border-radius: 5px;
    height: 52px;
    box-shadow: 5px 5px 10px 0px #00000026;
}

.map h4 {
    color: var(--pc);
}
/* Contact Us Page CSS End */

/* LOG IN REGISTER PAGE START */
.vendor-signup{
    background: #e1dfdf;
}
.login {
    background: #faf4f4;
    border-radius: 7px;
}
.login-section span{
    font-weight: 500;
    font-size: 15px;
}
.login-section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 22px;
}

.vendor-signup .login-section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.login-section h4 {
    font-weight: 600;
    color: var(--bc);
}

.login-section p {
    font-size: 22px;
    font-weight: 500;
    color: var(--bc);
}

.login-section .form-control {
    border: 1px solid var(--cxc);
    background: #f4f4f4;
    height: 50px;
    box-shadow: none !important;
    font-weight: 500;
    font-size: 16px;
    color: var(--xgc);
    padding-left: 12%;
}

.login-section input::placeholder {
    font-weight: 500;
    font-size: 16px;
    color: #B0B0B0;
    line-height: 19px;
    padding-left: 0%;
}

.vendor-signup .form-control {
    border: 1px solid #CCCCCC;
    background: #f4f4f4;
    height: 50px;
    box-shadow: none !important;
    font-weight: 500;
    font-size: 16px;
    color: var(--xgc);
    padding-left: 4%;
}

.login-section .login {
    position: relative;
}

.login-section .login img {
    position: absolute;
    top: 13px;
    left: 7px;
}

.login-section label {
    font-weight: 500;
    font-size: 16px;
    color: var(--xgc);
    line-height: 19px;
}

.login-section .text-form {
    font-weight: 400;
    font-size: 16px;
    color: var(--xgc);
    line-height: 19px;
}

.login-section button {
    background: var(--cxc);
    border: none;
    height: 50px;
    border-radius: 7px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--wc);
}

.login-section a {
    font-weight: 600;
    font-size: 16px;
    color: var(--xgc);
}

/* register section */
.register-section {
    background-image: url(../img/photos/sign-up.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.register-section h4 {
    font-weight: 600;
    color: var(--wc);
    padding-top: 82%;
}

.sign-up-btn {
    width: 85%;
    background: var(--cxc);
    margin-left: 8%;
}

.sign-up-btn li {
    margin: 15px 4px;
}

.sign-up-btn li a i {
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid var(--bgc);
    color: var(--bgc);
    border-radius: 50px;
    transition: 0.5s;
}

.sign-up-btn li a i:hover {
    background: var(--bgc);
    border: 1px solid var(--bgc);
    color: var(--wc);
}

.sign-up-page .register-section h4 {
    padding-top: 123%;
}

/* LOG IN REGISTER PAGE END */




































/*FOOTER SECTION*/
footer {
    background: #ffffff;
    color: var(--bc);
}

.footer-box img {
    max-width: 230px;
    margin-bottom: 30px;
}

.footer-box p {
    color: var(--bc);
}

.footer-box h6 {
    font-weight: 700;
    border-bottom: 1px solid var(--bgc);
    font-size: 20px;
}

.footer-box h6 {
    padding-bottom: 13px;
}

.footer-menu a {
    display: block;
    color: var(--bc);
    padding: 6px 0;
    font-size: 16px;
    font-weight: 500;
}

.footer-box ul li {
    padding: 6px 0;
}

.social-media-footer h4 {
    border-bottom: 1px solid var(--bgc);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 40px;
}

.social-media-footer a i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    color: var(--cxc);
    background: var(--wc);
    border: 1px solid var(--cxc);
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    transition: .3s;
}

.social-media-footer a i:hover {
    color: var(--wc);
    background: var(--cxc);
}

/*FOOTER SECTION END*/

/*COPYRIGHT SECTION*/
.footer-bottom{
    background: var(--cgc);
}
.copyright-section p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--wc);
    font-size: 16px;
    font-weight: 500;
    padding: 22px 0;
}

/*COPYRIGHT SECTION END*/
